.input-edit {
    height: 25px;
    width: 220px;
    font-size: 1rem;
    display: block;
}

#intro > button:last-child {
    position: absolute;
    bottom: 3px;
}

#save-btn {
    padding: 0 20px;
    font-size: 0.9rem;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    position: relative;
    left: calc(50% - 43.5px);
    bottom: -17px;
    filter: drop-shadow(0 3px 3px rgba(0,0,0,0.2));
}

#save-btn:hover {
    background-color: #d0d0d7;
}

.projects > .project {
    justify-content: space-between;
}

.project > .project-inputs {
    display: flex;
    flex-direction: column;
}

input[name="project-names[]"] {
    font-size: 0.9rem;
    width: inherit;
    height: 20px;
}

textarea[name="project-descs[]"] {
    font-size: 0.9rem;
    width: inherit;
    height: 40px;
    max-height: 80px;
    resize: none;
}

textarea[name="about-me-desc"] {
    font-size: 0.9rem;
    max-width: 700px;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    resize: none;
}

.profile > input {
    margin: 4px 0;
}

.profile > input:last-child {
    font-size: 0.9rem;
}

#reload-repos {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1040px;
}

#reload-repos > button {
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
    border: none;
    filter: drop-shadow(0 3px 3px rgba(0,0,0,0.2));
}

.delete-project {
    display: flex;
    justify-content: end;
    font-size: 1rem;
    color: #dc3545;
    padding-right: 5px;
    padding-top: 2px;
}

.delete-project > i {
    cursor: pointer;
}

.delete-project > i:hover {
    opacity: 0.8;
}

#send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: bolder;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: rgb(177, 177, 177);
}

#send-btn:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 720px) {
    textarea[name="about-me-desc"] {
        width: 90%;
    }
}

@media only screen and (max-width: 550px) {
    .input-edit {
        height: 25px;
        width: 90%;
    }
}